PORT=5000
MONGO_URI=mongodb+srv://darshanajudiya07_db_user:XhS5Jn9kbiYSPdfL@cluster0.iqv3b0f.mongodb.net/?appName=Cluster0
JWT_SECRET=jkdbsclsiucsndcleiurebvuirlvbdzfuvzlduvbvfrvdz
CLIENT_URL=http://localhost:5173
ADMIN_NAME=darshu7
ADMIN_EMAIL=ajudiya7106@gmail.com
ADMIN_PASSWORD=Daju@565